<!-- Footer -->
 <footer class="footer">
 <div class="container">
    <div class="col-12">
        <div class="row pt-2">
            <div class="col-6 col-lg-4 logo-footer pt-3 pb-3 text-lg-none text-center">
                <img src="assets/Media/logo.png" class="logo">
                <p class="pt-2 text-center revolutionizing">Revolutionizing textile sourcing with innovative container 
                    consolidation and quality-first approach.</p>
                    <hr style="width:180px;">

                <div class="cullum social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
             <div class="col-6 col-lg-2 pt-3 text-lg-start text-center">
                <h6 class="pb-1 fw-bold">Company</h6>
                <ul class="ps-0">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="views/about.html">About</a></li>
                    <li><a href="views/product.html">Product<i class="fa-solid fa-caret-right ms-2"></i></i></a></li>
                    <li><a href="views/factory.html">Factory</a></li>
                    <li><a href="views/contact.html">Contact</a></li>
                </ul>
            </div>
             <div class="col-6 col-lg-3 pt-3 text-lg-start text-center">
               <h6 class="pb-1 fw-bold">Products</h6>
                <ul class="ps-0">
                    <li><a href="views/product.html?id=healthcare">Healthcare & Medical Textiles</a></li>
                    <li><a href="views/product.html?id=hospitality">Hospitality Linens</a></li>
                    <li><a href="views/product.html?id=industrial">Industrial Apparel & Workwear</a></li>
                    <li><a href="views/product.html?id=restaurant">Restaurant & Culinary Textiles</a></li>
                    <li><a href="views/product.html?id=custom">Custom Solutions</a></li>
                    <li><a href="views/view-products.html"> View Products </a></li>
                </ul>
            </div>
             <div class="col-6 col-lg-3 pt-3 text-lg-start text-center h-100 ">
               <h6 class="pb-1 fw-bold">Contact</h6>
                <ul class="ps-0 ">
                    <li><i class="fa-solid fa-envelope pe-2"></i>CTW@gmail.com</li>
                    <li><i class="fa-solid fa-phone pe-2"></i>+855 11 983 549</li>
                    <li class="d-flex align-items-center"><i class="fa-solid fa-location-dot ps-1 pe-2"></i> Kbaldamrei2 , Kakab2 , Pousenchey , Phnom Penh , 120913 Cambodia</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
 </div>
    <div class="footer-bar text-center">
        <div class="container mb-2">
            <p class="pt-2 pb-4">© 2026 Cambodian Textiles Worldwide Co,.ltd . All rights reserved.</p>
        </div>
    </div>
 </footer>
<!-- /Footer -->